Package             Version
------------------- -------
asgiref             3.8.1
astroid             3.3.9
dill                0.4.0
Django              5.2
django-ckeditor     6.7.2
django-js-asset     3.1.2
isort               6.0.1
mccabe              0.7.0
pillow              11.2.1
pip                 24.0
platformdirs        4.3.7
pylint              3.3.6
pylint-celery       0.3
pylint-django       2.6.1
pylint-plugin-utils 0.8.2
sqlparse            0.5.3
tomlkit             0.13.2
